@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url("../fonts/fonts_WOFF2/HelveticaNeueLTProLt.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: url("../fonts/fonts_WOFF2/HelveticaNeueLTProMd.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url("../fonts/fonts_WOFF2/HelveticaNeueLTProRoman.woff2") format("woff2");
}
@font-face {
  font-family: "Merriweather-LightItalic";
  src: url("../fonts/fonts_WOFF2/Merriweather-LightItalic.woff2")
    format("woff2");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/fonts_WOFF2/Montserrat-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/fonts_WOFF2/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/fonts_WOFF2/Roboto-Regular.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

/* === Header === */

.header {
  margin-bottom: 200px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
}

.nav {
  flex: 1;
}

.nav__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  font-family: Roboto;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
}

.nav__links:hover {
  color: #010101;
}

.header__logo {
  margin: 0 60px;
}

/* === Header end ===*/

/* === Hero === */

.hero {
  text-align: center;
}

.hero__title {
  font-family: "Helvetica Neue Pro - Lt";
  font-size: 44px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin-bottom: 20px;
}

.hero__description {
  font-family: Merriweather;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin-bottom: 40px;
}

.hero__btn {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #000000;
  width: 188px;
  height: 57px;
  transition: box-shadow 0.2s ease;
  margin-bottom: 206px;
}

.hero__btn:hover {
  -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
}

/* === Hero end === */

/* === Info === */

.info {
  position: relative;
  background-color: #1d1d1d;
  padding: 130px 0 270px 0;
}

.info__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 417px;
  height: 276px;
  background-color: #181818;
  margin: 0 90px 180px;
  overflow: hidden;
}

.info__block-title {
  font-family: "HelveticaNeueLTProMdt";
  font-size: 48px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}

.info__block-description {
  text-align: center;
  font-family: "Montserrat-Light";
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.info__bg {
  width: 100%;
}

.info__bg--black {
  position: absolute;
  bottom: -2px;
}

.info__bg--white {
  position: absolute;
  bottom: 10px;
}

/* === Info end === */

/* === Team === */

.team__container {
  text-align: center;
}

.team__title {
  margin-top: 140px;
  font-family: "Helvetica Neue Pro - Lt";
  font-size: 34px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin-bottom: 13px;
}

.team__description {
  font-family: "Merriweather-LightItalic";
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
  margin-bottom: 127px;
}

.team__content {
  padding: 0 115px;
  margin-bottom: 150px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item-photo {
  margin-bottom: 30px;
}

.team__item-name {
  font-family: "HelveticaNeueLTProMdt", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
}

.team__item-position {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin-bottom: 20px;
}

/* === Team end === */

.services {
  background-color: #181818;
  padding-top: 175px;
  padding-bottom: 155px;
}

.services__container {
  text-align: center;
}

.sevices__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 34px;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 5px;
}

.services__description {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #777777;
  margin-bottom: 140px;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
}

.sevices__item-picture {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
